<div class='mx-auto md:w-2/3 w-full flex'>
  <div class='mx-auto'>
    <%= render @local %>

    <h2>Chosse the type of appointment for you preferences</h2>

    <div class="grid grid-cols-3 gap-6 px-8 pt-8">
      <% @appointment_types.each do |appointment_type| %>
        <%=
          render 'locals/appointment_type',
            appointment_type: appointment_type, local_id: @local.id
        %>
      <% end %>
    </div>

    <% if current_user.admin? %>
      <%=
        link_to 'Edit this local', edit_local_path(@local),
          class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
      %>

      <div class='inline-block ml-2'>
        <%=
          button_to 'Destroy this local', @local,
            method: :delete, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium'
        %>
      </div>
    <% end %>

    <%=
      link_to 'Back ', dashboard_path,
        class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
    %>
  </div>
</div>
