<h1><%= t('.title') %></h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div>
      <% @user.errors.full_messages.each do |message| %>
        <h4><%= message %></h4>
      <% end %>
    </div>
  <% end %>

  <div data-controller='previews'>
    <%= form.label :avatar, 'Tu foto' %>
    <%=
      form.file_field :avatar, direct_upload: true,
        data: {
          previews_target: 'input',
          action: 'change->previews#preview'
        }
    %>
    <% if @user.avatar.attached? %>
      <%=
        image_tag @user.avatar, class: 'avatar-preview',
          data: { previews_target: 'preview' }
      %>
    <% else %>
      <%=
        image_tag 'placeholder.png', class: 'avatar-preview',
          data: { previews_target: 'preview' }
      %>
    <% end %>
  </div>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true %>
  </div>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone, required: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>