<div class='w-2/6 lg:w-5/12 bg-white shadow-lg rounded-lg p-8 mx-auto my-7'>
  <h1
    class='text-3xl font-bold mb-8 text-center bg-gradient-to-r from-blue-400
         to-teal-500 text-transparent bg-clip-text'
  >
    <%= t('authentication.users.views.new.title') %>
  </h1>

  <%= form_with(model: @user) do |form| %>
    <% @user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>

    <div
      data-controller='previews'
      class='flex flex-col lg:flex-row items-center gap-5 mb-5'
    >
      <% if @user.avatar.attached? %>
        <%=
          image_tag @user.avatar,
            class: 'avatar-preview w-full h-auto mt-2 mx-auto',
            data: { previews_target: 'preview' }
        %>
      <% else %>
        <%=
          image_tag 'placeholder.png', class: 'avatar-preview',
            data: { previews_target: 'preview' }
        %>
      <% end %>

      <div class='flex flex-col'>
        <%=
          form.label :avatar, t('authentication.users.views.new.avatar'),
            class: 'text-blue-400 font-bold text-lg'
        %>
        <%=
          form.file_field :avatar, direct_upload: true,
            data: { previews_target: 'input', action: 'change->previews#preview' },
            class: 'flex flex-col'
        %>
      </div>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.text_field :first_name, required: true, class: 'p-2' %>
      <%= form.label :first_name, class: 'font-semibold' %>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.text_field :last_name, required: true, class: 'p-2' %>
      <%= form.label :last_name, class: 'font-semibold' %>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.text_field :username, required: true, class: 'p-2' %>
      <%= form.label :username, '@Username',class: 'font-semibold' %>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.text_field :phone, required: true, class: 'p-2' %>
      <%= form.label :phone, class: 'font-semibold' %>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.email_field :email, required: true, class: 'p-2' %>
      <%= form.label :email, class: 'font-semibold' %>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.password_field :password, required: true, class: 'p-2' %>
      <%= form.label :password, class: 'font-semibold' %>
    </div>

    <div class='inputBox w-full mb-4'>
      <%= form.password_field :password_confirmation, required: true, class: 'p-2' %>
      <%= form.label :password_confirmation, class: 'font-semibold' %>
    </div>

    <div
      class='cursor-pointer mx-auto w-min bg-gradient-to-r from-blue-400
           to-teal-500 text-white px-4 py-2 rounded-full hover:bg-teal-500
             transition duration-300 font-bold text-2xl my-5'
    >
      <%= form.submit class: 'cursor-pointer' %>
    </div>
  <% end %>
</div>
