<div class='w-full h-full mx-auto p-5'>
  <div class='flex justify-between'>
    <div>
      <h1 class='text-xl text-blue-500 font-semibold'>
        Hello
        <strong class='font-bold text-black'>
          <%= current_user.first_name %>
        </strong>
      </h1>
      <p>These are all your appointments:</p>
    </div>
    <div class='flex justify-end items-center w-1/5'>
      <%=
        link_to 'Add a new pet', new_pet_path,
          class: 'rounded-lg py-3 px-5 bg-blue-400 text-white block font-bold' %>
    </div>
  </div>

  <div class="my-5">
    <%= turbo_frame_tag "appointments-#{@pagy.page}" do %>
      <%= render @appointments %>
    <% end %>
  </div>
  <div>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
