<div
  class='border border-gray-200 rounded-lg p-6 shadow-lg
       bg-white hover:scale-105 hover:shadow-2xl transition-transform
         duration-300 ease-in-out cursor-pointer'
>
  <div class='flex flex-wrap justify-between items-center mb-4'>
    <div class='flex items-center space-x-2'>
      <span class='font-semibold text-gray-700'>Status:</span>
      <%=
        form_with(model: appointment, method: :patch, class: 'w-full sm:w-auto') do |form|
      %>
        <%=
          form.select :status,
                      options_for_select(
                        Appointment.statuses.map {
                          |key, value| [key.capitalize, key] }, form.object.status
                      ), {},
                      {
                        onchange: 'this.form.submit()',
                        class: 'p-2 border border-gray-300 rounded-md focus:ring-2
                                focus:ring-blue-500 focus:outline-none'
                      }
        %>
      <% end %>
    </div>
    <span class='font-semibold text-gray-700'>Pet Name: <%= appointment.pet&.name %></span>
  </div>

  <div class='space-y-3 text-gray-600'>
    <p>
      <strong class='font-medium text-gray-700'>Breed:</strong> <%= appointment.pet&.breed %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Kind:</strong> <%= appointment.pet&.kind %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Starts:</strong> <%=
      appointment.start_at.strftime('%b %e, %Y at %l:%M %p') %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Ends:</strong>
      <%= appointment.end_at.strftime('%b %e, %Y at %l:%M %p') %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Appointment Type:</strong> <%=
      appointment.appointment_type.name %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Paid:</strong>
      <%=
        appointment.payments&.any? ? appointment.payments&.first.billing_status : 'No required'
      %>
    </p>
  </div>
</div>
