<table>
  <tr id="<%= dom_id appointment %>">
    <td
      data-label="Status"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= form_with(model: appointment, method: :patch) do |form| %>
        <%=
          form.select :status,
            options_for_select(
              Appointment.statuses.map { |key, value| [key.capitalize, key] }, form.object.status
            ), {}, { onchange: 'this.form.submit()'}
        %>
      <% end %>
    </td>

    <td
      data-label="Pet Name"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= appointment.pet&.name %>
    </td>
    <td
      data-label="Breed"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= appointment.pet&.breed %>
    </td>
    <td
      data-label="Kind"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= appointment.pet&.kind %>
    </td>
    <td
      data-label="Starts"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= appointment.start_at.strftime('%b %e, %Y at %l:%M %p') %>
    </td>
    <td
      data-label="Ends"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= appointment.end_at.strftime('%b %e, %Y at %l:%M %p') %>
    </td>
    <td
      data-label="Appointment Type"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%= appointment.appointment_type.name %>
    </td>
    <td
      data-label="Paid"
      class="border border-slate-300 bg-white text-left p-4"
    >
      <%=
        appointment.payments&.any? ? appointment.payments&.first.billing_status : 'No required'
      %>
    </td>
  </tr>
</table>
