<div class='w-screen lg:w-9/12 mx-auto p-5 mt-3 rounded shadow-xl border'>
  <div class='px-6 py-10 rounded-t-xl bg-gray-50'>
    <h1 class='text-3xl font-extrabold text-center'>
      <%= current_user.first_name %>'s Dashboard Page
    </h1>
    <p class='text-center text-gray-600 mt-2'>
      Book your prefered time slot using the appointment options below.
    </p>
  </div>

  <div class='flex overflow-x-scroll xl:overflow-x-hidden gap-2 my-4'>
    <%= render(CityComponent.new) %>

    <%= render(CityComponent.with_collection(@cities)) %>
  </div>

  <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-8 pt-8'>
    <% @locals.each do |local_obj| %>
      <%= render 'home/locals', local_obj: local_obj %>
    <% end %>
  </div>

  <div>
    <h3 class='font-bold text-2xl mb-6 mt-10 pt-10 border-t border-slate-2'>
      Check your last 5 appointments.
    </h3>

    <div class='flex justify-end my-8'>
      <%=
        link_to 'View all appointments', profile_path(current_user.id),
          class: 'rounded-lg py-3 px-5 bg-blue-400 text-white block font-bold'
      %>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-8 mt-15">
      <%= render partial: 'appointments/appointment', collection: @appointments %>
    </div>
  </div>
</div>
