<h1><%= t('authentication.passwords.views.edit.title') %></h1>

<%= form_with(model: current_user, url: password_path) do |form|%>
  <% if form.object.errors.any? %>
    <%= form.object.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <div>
    <%=
      form.label :password_challenge,
        t('authentication.passwords.views.edit.label_current_password')
    %>
    <%= form.password_field :password_challenge, required: true %>
  </div>

  <div>
    <%=
      form.label :password,
        t('authentication.passwords.views.edit.label_new_password')
    %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit 'Update Password' %>
  </div>
<% end %>
