<div class='border border-gray-200 rounded-lg p-6 shadow-lgbg-white'>
  <div class='flex flex-wrap justify-between items-center'>
    <div class='flex items-center space-x-2 space-y-3'>
      <span class='font-semibold text-gray-700'>Status:</span>
      <%= appointment.status.capitalize %>
    </div>
    <span class='font-semibold text-gray-700'>Pet Name: <%= appointment.pet&.name %></span>
  </div>

  <div class='space-y-3 text-gray-600 mb-9'>
    <p>
      <strong class='font-medium text-gray-700'>Breed:</strong> <%= appointment.pet&.breed %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Kind:</strong> <%= appointment.pet&.kind %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Starts:</strong> <%=
      appointment.start_at.strftime('%b %e, %Y at %l:%M %p') %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Ends:</strong>
      <%= appointment.end_at.strftime('%b %e, %Y at %l:%M %p') %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Appointment Type:</strong> <%=
      appointment.appointment_type.name %>
    </p>
    <p>
      <strong class='font-medium text-gray-700'>Paid:</strong>
      <%=
        appointment.payments&.any? ? appointment.payments&.first.billing_status : 'No required'
      %>
    </p>
  </div>

  <div class='flex justify-between items-center border-t border-gray-400 pt-4 m-0'>
    <% if action_name != 'show' && current_user.admin? %>
      <%= link_to 'Show appointment', appointment,
            class: 'm-20 rounded-lg py-3 px-5 bg-gray-200 text-gray-700 font-semibold
                    hover:bg-blue-500 hover:text-white hover:shadow-lg transition-all
                    duration-300 ease-in-out transform hover:scale-105' %>
    <% end %>
  </div>
</div>
