<div id='<%= dom_id appointment %>'>
  <p class='my-5'>
    <strong class='block font-medium mb-1'>Status:</strong>
    <%= appointment.status %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>Appointment type:</strong>
    <%= appointment.appointment_type_id %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>Start at:</strong>
    <%= appointment.start_at %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>End at:</strong>
    <%= appointment.end_at %>
  </p>
</div>
