<%= form_with(model: appointment, class: 'contents') do |form| %>
  <% if appointment.errors.any? %>
    <div
      id='error_explanation'
      class='bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3'
    >
      <h2>
        <%= pluralize(appointment.errors.count, 'error') %> prohibited this appointment from being saved:
      </h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Personal information</h3>

  <div class='my-5'>
    <strong>Owner:</strong>
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>

  <div class='my-5'>
    <%= form.label :pet_id %>
    <%=
      form.collection_select :pet_id, current_user&.pets, :id, :name, { prompt: 'Select Pet' },
        class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <%= form.hidden_field :local_id, value: params[:local_id] %>

  <div class='my-5'>
    <%= form.label :notes %>
    <%=
      form.rich_text_area :notes,
        class: 'block shadow rounded-md border border-gray-400
                outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <% if @appointment.new_record? %>
    <div class='mb-6'>
      <div class='rounded border-slate-300 border shadow-sm bg-white py-6 px-10 inline-block relative'>
        <%= form.label :appointment_type_id, 'Appointment type'%>
        <input
          type='hidden'
          name='appointment[appointment_type_id]'
          value='<%= @appointment_type&.id %>'
        >
        <div class='flex items-start'>
          <div class='text-3xl font-bold mr-3'><%= @appointment_type.name %>
            <%= render(BadgedComponent.new(appointment_type: @appointment_type)) %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= @appointment.appointment_type&.name %>
  <% end %>

  <div class='my-5'>
    <%= form.label :start_at %>
    <%=
      form.datetime_field :start_at,
        class: 'block shadow rounded-md border border-gray-400
                outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class='my-5'>
    <%= form.label :end_at %>
    <%=
      form.datetime_field :end_at,
        class: 'block shadow rounded-md border border-gray-400
                outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class='inline'>
    <%=
      form.submit class: 'rounded-lg py-3 px-5 bg-blue-600 text-white
                          inline-block font-medium cursor-pointer'
    %>
  </div>
<% end %>
